<?xml version="1.0"?>

<launch>
  <node name="complementary_filter_node" pkg="imu_complementary_filter" type="complementary_filter_node" output="screen">
    <remap from="imu/data" to="imu/complementary_data"/>
    <remap from="imu/data_raw" to="imu/data"/>

    <param name="use_mag" type="bool" value="true"/>
    <param name="publish_tf" type="bool" value="false"/>
    <param name="fixed_frame" type="string" value="base_link"/>
    <param name="reverse_tf " type="bool" value="true"/>
    
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>

  </node>
</launch>



